body {
    padding-left: 30px;
}

a {
	display: block;
}

.table {
	/* width: 100%; */
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px 20px 5px 20px; 
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
	max-width: 500px;
}

.reviews {
    /* max-width: 200px; */
}

.review-container {
	background-color: #efefef;
	margin: 5px 5px 10px 5px;
}

.review-text {
	margin-top: 8px;
}

.button {
	padding: 5px 24px;
	border: none;
	border-radius: 7px;
	color: #fff;
	font-weight: bold;
	background: #47cf73;
	cursor: pointer;
}

/* поле для ввода отзыва */
.input-review {
	height: 40px;
}

.but-exit a {
	
	width: 50px;
	padding: 5px 24px;
	border: none;
	border-radius: 7px;
	font-weight: bold;
	background: rgb(66, 11, 92);
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.but-fakes a {
	width: 100px;
	padding: 5px 24px;
	border: none;
	border-radius: 7px;
	font-weight: bold;
	background: rgb(212,75,56);
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.but-reg a {
	width: 100px;
	padding: 5px 24px;
	border: none;
	border-radius: 7px;
	font-weight: bold;
	background: rgb(22, 67, 230);
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.but-in a {
	width: 100px;
	padding: 5px 24px;
	border: none;
	border-radius: 7px;
	font-weight: bold;
	background: #10ad42;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.but-edit {
	width: 150px;
	padding: 5px 24px;
	border: none;
	border-radius: 7px;
	font-weight: bold;
	background: #10ad42;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.but-del {
	width: 150px;
	padding: 5px 24px;
	border: none;
	border-radius: 7px;
	font-weight: bold;
	background: rgb(212,75,56);
	cursor: pointer;
	color: white;
	text-decoration: none;
}
